@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900");
body {
  overflow-x: hidden; }

.elt_title, .elt_title_inherit {
  font-size: 50px;
  font-family: 'Work Sans';
  font-weight: 100; }

@font-face {
  font-family: 'apercubold_italic';
  src: url("apercu_bold_italic-webfont.woff2") format("woff2"), url("apercu_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  overflow: hidden; }

.page-menu {
  background-color: white;
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  font-style: oblique; }
  .page-menu .wave {
    background-color: black;
    width: 5px;
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    overflow: hidden; }
  .page-menu .menu {
    width: 100vw;
    z-index: 5;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    color: white;
    text-align: center; }
    .page-menu .menu .menu-item-container {
      overflow: hidden; }
    .page-menu .menu .menu-item {
      line-height: 100px;
      display: block;
      text-transform: uppercase;
      font-size: 80px;
      opacity: .5;
      -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
              transform: translateY(100%); }
      .page-menu .menu .menu-item.ready.about {
        -webkit-animation: appear .5s forwards;
                animation: appear .5s forwards; }
      .page-menu .menu .menu-item.ready.work {
        -webkit-animation: appear .5s forwards .1s;
                animation: appear .5s forwards .1s; }
      .page-menu .menu .menu-item.ready.contact {
        -webkit-animation: appear .5s forwards .2s;
                animation: appear .5s forwards .2s; }
      .page-menu .menu .menu-item:hover {
        cursor: pointer;
        opacity: 1; }
      .page-menu .menu .menu-item.off {
        transition: all .2s ease-in-out;
        opacity: 0 !important; }
  .page-menu .loading-menu {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    font-size: 80px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 3;
    color: white;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    transition: all .5s ease-in-out; }
    .page-menu .loading-menu.behind {
      right: 100%;
      color: black;
      z-index: 1; }
    .page-menu .loading-menu.anim-on {
      opacity: 1;
      -webkit-animation: defile 4.5s forwards;
              animation: defile 4.5s forwards;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear; }

@-webkit-keyframes defile {
  0% {
    right: 0; }
  80% {
    right: 100%; }
  100% {
    right: 100%; } }

@keyframes defile {
  0% {
    right: 0; }
  80% {
    right: 100%; }
  100% {
    right: 100%; } }

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes appear {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
